In [1]:
import pandas as pd

Być może będzie potrzebne doinstalowanie:  `pip install xlrd`

In [3]:
pd.read_excel("file_example_XLSX_10.xlsx")

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
5  6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
6  7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7  8    Earlean     Melgar  Female  United States   27  16/08/2016  2456
8  9   Vincenza    Weiland  Female  United States   40  21/05/2015  6548

# Zadanie 1

* Wczytujemy pierwszy arkusz
* bez pierwszych dwóch wierszy
* bez ostatniego wiersza (Razem)
* bez kolumny A
* Przedszkole jako indeks, a "ciężki" jako kolumna

In [4]:
pd.read_excel("WypadkiwgwojewodztwIX2016.xls")

,Wypadki w szkołach i placówkach w roku szkolnym 2015/2016 wg SIO stan na 30.09.2016 r.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,ciężki,inny,śmiertelny,Razem
2,00001,Przedszkole,10,2228,0,2238
3,00003,Szkoła podstawowa,62,30737,0,30799
4,00004,Gimnazjum,53,21513,4,21570
5,00013,Zasadnicza szkoła zawodowa,0,1077,1,1078
6,00014,Liceum ogólnokształcące,13,4666,0,4679
7,00016,Technikum,6,4031,0,4037
8,00019,Szkoła policealna (ponadgimnazjalna),0,51,0,51
9,00020,Szkoła specjalna przysposabiająca do pracy dla...,1,55,0,56
10,00021,Sześcioletnia ogólnokształcąca szkoła muzyczna...,0,99,0,99
11,00022,Sześcioletnia szkoła muzyczna I stopnia,0,1,0,1
12,00023,Czteroletnia szkoła muzyczna I stopnia,0,1,0,1
13,00024,Sześcioletnia ogólnokształcąca szkoła muzyczna...,0,19,0,19
14,00026,Sześcioletnia ogólnokształcąca szkoła sztuk pi...,0,29,0,29
15,00027,Czteroletnie liceum plastyczne,0,30,0,30
16,00029,Dziewięcioletnia ogólnokształcąca szkoła baletowa,0,20,0,20
17,00031,Czteroletnia szkoła sztuki cyrkowej,0,1,0,1
18,00037,Pałac młodzieży,0,10,0,10
19,00038,Młodzieżowy dom kultury,0,26,0,26
20,00039,Ognisko pracy pozaszkolnej,0,3,0,3
21,00040,Międzyszkolny ośrodek sportowy,0,19,0,19
22,00041,Ogród jordanowski,0,1,0,1
23,00042,Pozaszkolna placówka specjalistyczna,0,1,0,1
24,00045,Centrum Kształcenia Praktycznego,0,34,0,34
25,00046,Centrum Kształcenia Ustawicznego ze szkołami,0,8,0,8
26,00047,Ośrodek dokształcania i doskonalenia zawodowego,0,7,0,7
27,00050,Specjalny Ośrodek Wychowawczy,0,5,0,5
28,00051,Specjalny Ośrodek Szkolno-Wychowawczy,0,89,0,89
29,00052,Ośrodek Rewalidacyjno-Wychowawczy umożliwiając...,0,12,0,12
30,00053,Młodzieżowy Ośrodek Wychowawczy,3,85,0,88
31,00054,Młodzieżowy Ośrodek Socjoterapii ze szkołami,3,60,0,63
32,00055,Bursa,0,51,0,51
33,00056,Dom wczasów dziecięcych,0,75,0,75
34,00064,Niepubliczna placówka oświatowo-wychowawcza w ...,0,3,0,3
35,00080,Zespół wychowania przedszkolnego,0,1,0,1
36,00081,Punkt przedszkolny,0,26,0,26
37,00082,Poznańska szkoła chóralna,0,10,0,10
38,00090,Bednarska Szkoła Realna,0,1,0,1
39,Razem,NaN,151,65085,5,65241

In [6]:
wypadki = pd.read_excel("WypadkiwgwojewodztwIX2016.xls",
                        sheet_name=0, # sheet_name="Ogółem"
                        header=2,
                        skipfooter=1,
                        usecols=[1,2,3,4,5])

In [9]:
wypadki.head()

                   Unnamed: 1  ciężki   inny  śmiertelny  Razem
0                 Przedszkole      10   2228           0   2238
1           Szkoła podstawowa      62  30737           0  30799
2                   Gimnazjum      53  21513           4  21570
3  Zasadnicza szkoła zawodowa       0   1077           1   1078
4     Liceum ogólnokształcące      13   4666           0   4679

In [12]:
wypadki.rename(columns={"Unnamed: 1": "Miejsce"}, inplace=True)

In [13]:
wypadki.head()

                      Miejsce  ciężki   inny  śmiertelny  Razem
0                 Przedszkole      10   2228           0   2238
1           Szkoła podstawowa      62  30737           0  30799
2                   Gimnazjum      53  21513           4  21570
3  Zasadnicza szkoła zawodowa       0   1077           1   1078
4     Liceum ogólnokształcące      13   4666           0   4679

In [16]:
wypadki.set_index("Miejsce", inplace=True)

In [17]:
wypadki.head()

                            ciężki   inny  śmiertelny  Razem
Miejsce
Przedszkole                     10   2228           0   2238
Szkoła podstawowa               62  30737           0  30799
Gimnazjum                       53  21513           4  21570
Zasadnicza szkoła zawodowa       0   1077           1   1078
Liceum ogólnokształcące         13   4666           0   4679

In [18]:
wypadki.index

Index(['Przedszkole', 'Szkoła podstawowa', 'Gimnazjum',
       'Zasadnicza szkoła zawodowa', 'Liceum ogólnokształcące', 'Technikum',
       'Szkoła policealna (ponadgimnazjalna)',
       'Szkoła specjalna przysposabiająca do pracy dla uczniów z upośledzeniem umysłowym w stopniu umiarkowanym lub znacznym oraz dla uczniów z  więcej niż jedną niepełnosprawnością',
       'Sześcioletnia ogólnokształcąca szkoła muzyczna I stopnia',
       'Sześcioletnia szkoła muzyczna I stopnia',
       'Czteroletnia szkoła muzyczna I stopnia',
       'Sześcioletnia ogólnokształcąca szkoła muzyczna II stopnia',
       'Sześcioletnia ogólnokształcąca szkoła sztuk pięknych',
       'Czteroletnie liceum plastyczne',
       'Dziewięcioletnia ogólnokształcąca szkoła baletowa',
       'Czteroletnia szkoła sztuki cyrkowej', 'Pałac młodzieży',
       'Młodzieżowy dom kultury', 'Ognisko pracy pozaszkolnej',
       'Międzyszkolny ośrodek sportowy', 'Ogród jordanowski',
       'Pozaszkolna placówka specjalistyczna',
       'Centrum Kształcenia Praktycznego',
       'Centrum Kształcenia Ustawicznego ze szkołami',
       'Ośrodek dokształcania i doskonalenia zawodowego',
       'Specjalny Ośrodek Wychowawczy',
       'Specjalny Ośrodek Szkolno-Wychowawczy',
       'Ośrodek Rewalidacyjno-Wychowawczy umożliwiający upośledzonym umysłowo realizację obowiązku szkolnego i nauki',
       'Młodzieżowy Ośrodek Wychowawczy',
       'Młodzieżowy Ośrodek Socjoterapii ze szkołami', 'Bursa',
       'Dom wczasów dziecięcych',
       'Niepubliczna placówka oświatowo-wychowawcza w systemie oświaty',
       'Zespół wychowania przedszkolnego', 'Punkt przedszkolny',
       'Poznańska szkoła chóralna', 'Bednarska Szkoła Realna'],
      dtype='object', name='Miejsce')

In [23]:
pd.read_excel("WypadkiwgwojewodztwIX2016.xls",
             sheet_name=0,
             header=2,
             skipfooter=1,
             usecols="B:E")

,Unnamed: 1,ciężki,inny,śmiertelny
0,Przedszkole,10,2228,0
1,Szkoła podstawowa,62,30737,0
2,Gimnazjum,53,21513,4
3,Zasadnicza szkoła zawodowa,0,1077,1
4,Liceum ogólnokształcące,13,4666,0
5,Technikum,6,4031,0
6,Szkoła policealna (ponadgimnazjalna),0,51,0
7,Szkoła specjalna przysposabiająca do pracy dla...,1,55,0
8,Sześcioletnia ogólnokształcąca szkoła muzyczna...,0,99,0
9,Sześcioletnia szkoła muzyczna I stopnia,0,1,0
10,Czteroletnia szkoła muzyczna I stopnia,0,1,0
11,Sześcioletnia ogólnokształcąca szkoła muzyczna...,0,19,0
12,Sześcioletnia ogólnokształcąca szkoła sztuk pi...,0,29,0
13,Czteroletnie liceum plastyczne,0,30,0
14,Dziewięcioletnia ogólnokształcąca szkoła baletowa,0,20,0
15,Czteroletnia szkoła sztuki cyrkowej,0,1,0
16,Pałac młodzieży,0,10,0
17,Młodzieżowy dom kultury,0,26,0
18,Ognisko pracy pozaszkolnej,0,3,0
19,Międzyszkolny ośrodek sportowy,0,19,0
20,Ogród jordanowski,0,1,0
21,Pozaszkolna placówka specjalistyczna,0,1,0
22,Centrum Kształcenia Praktycznego,0,34,0
23,Centrum Kształcenia Ustawicznego ze szkołami,0,8,0
24,Ośrodek dokształcania i doskonalenia zawodowego,0,7,0
25,Specjalny Ośrodek Wychowawczy,0,5,0
26,Specjalny Ośrodek Szkolno-Wychowawczy,0,89,0
27,Ośrodek Rewalidacyjno-Wychowawczy umożliwiając...,0,12,0
28,Młodzieżowy Ośrodek Wychowawczy,3,85,0
29,Młodzieżowy Ośrodek Socjoterapii ze szkołami,3,60,0
30,Bursa,0,51,0
31,Dom wczasów dziecięcych,0,75,0
32,Niepubliczna placówka oświatowo-wychowawcza w ...,0,3,0
33,Zespół wychowania przedszkolnego,0,1,0
34,Punkt przedszkolny,0,26,0
35,Poznańska szkoła chóralna,0,10,0
36,Bednarska Szkoła Realna,0,1,0

In [25]:
pd.read_excel("WypadkiwgwojewodztwIX2016.xls",
             sheet_name=0,
             header=2,
             skipfooter=1,
             usecols="A,B:E",
             index_col=0)

,Unnamed: 1,ciężki,inny,śmiertelny
1,Przedszkole,10,2228,0
3,Szkoła podstawowa,62,30737,0
4,Gimnazjum,53,21513,4
13,Zasadnicza szkoła zawodowa,0,1077,1
14,Liceum ogólnokształcące,13,4666,0
16,Technikum,6,4031,0
19,Szkoła policealna (ponadgimnazjalna),0,51,0
20,Szkoła specjalna przysposabiająca do pracy dla...,1,55,0
21,Sześcioletnia ogólnokształcąca szkoła muzyczna...,0,99,0
22,Sześcioletnia szkoła muzyczna I stopnia,0,1,0
23,Czteroletnia szkoła muzyczna I stopnia,0,1,0
24,Sześcioletnia ogólnokształcąca szkoła muzyczna...,0,19,0
26,Sześcioletnia ogólnokształcąca szkoła sztuk pi...,0,29,0
27,Czteroletnie liceum plastyczne,0,30,0
29,Dziewięcioletnia ogólnokształcąca szkoła baletowa,0,20,0
31,Czteroletnia szkoła sztuki cyrkowej,0,1,0
37,Pałac młodzieży,0,10,0
38,Młodzieżowy dom kultury,0,26,0
39,Ognisko pracy pozaszkolnej,0,3,0
40,Międzyszkolny ośrodek sportowy,0,19,0
41,Ogród jordanowski,0,1,0
42,Pozaszkolna placówka specjalistyczna,0,1,0
45,Centrum Kształcenia Praktycznego,0,34,0
46,Centrum Kształcenia Ustawicznego ze szkołami,0,8,0
47,Ośrodek dokształcania i doskonalenia zawodowego,0,7,0
50,Specjalny Ośrodek Wychowawczy,0,5,0
51,Specjalny Ośrodek Szkolno-Wychowawczy,0,89,0
52,Ośrodek Rewalidacyjno-Wychowawczy umożliwiając...,0,12,0
53,Młodzieżowy Ośrodek Wychowawczy,3,85,0
54,Młodzieżowy Ośrodek Socjoterapii ze szkołami,3,60,0
55,Bursa,0,51,0
56,Dom wczasów dziecięcych,0,75,0
64,Niepubliczna placówka oświatowo-wychowawcza w ...,0,3,0
80,Zespół wychowania przedszkolnego,0,1,0
81,Punkt przedszkolny,0,26,0
82,Poznańska szkoła chóralna,0,10,0
90,Bednarska Szkoła Realna,0,1,0

In [27]:
import numpy as np

In [31]:
pd.read_excel("WypadkiwgwojewodztwIX2016.xls",
             sheet_name=0,
             header=2,
             skipfooter=1,
             usecols=range(0,6))

,Unnamed: 0,Unnamed: 1,ciężki,inny,śmiertelny,Razem
0,1,Przedszkole,10,2228,0,2238
1,3,Szkoła podstawowa,62,30737,0,30799
2,4,Gimnazjum,53,21513,4,21570
3,13,Zasadnicza szkoła zawodowa,0,1077,1,1078
4,14,Liceum ogólnokształcące,13,4666,0,4679
5,16,Technikum,6,4031,0,4037
6,19,Szkoła policealna (ponadgimnazjalna),0,51,0,51
7,20,Szkoła specjalna przysposabiająca do pracy dla...,1,55,0,56
8,21,Sześcioletnia ogólnokształcąca szkoła muzyczna...,0,99,0,99
9,22,Sześcioletnia szkoła muzyczna I stopnia,0,1,0,1
10,23,Czteroletnia szkoła muzyczna I stopnia,0,1,0,1
11,24,Sześcioletnia ogólnokształcąca szkoła muzyczna...,0,19,0,19
12,26,Sześcioletnia ogólnokształcąca szkoła sztuk pi...,0,29,0,29
13,27,Czteroletnie liceum plastyczne,0,30,0,30
14,29,Dziewięcioletnia ogólnokształcąca szkoła baletowa,0,20,0,20
15,31,Czteroletnia szkoła sztuki cyrkowej,0,1,0,1
16,37,Pałac młodzieży,0,10,0,10
17,38,Młodzieżowy dom kultury,0,26,0,26
18,39,Ognisko pracy pozaszkolnej,0,3,0,3
19,40,Międzyszkolny ośrodek sportowy,0,19,0,19
20,41,Ogród jordanowski,0,1,0,1
21,42,Pozaszkolna placówka specjalistyczna,0,1,0,1
22,45,Centrum Kształcenia Praktycznego,0,34,0,34
23,46,Centrum Kształcenia Ustawicznego ze szkołami,0,8,0,8
24,47,Ośrodek dokształcania i doskonalenia zawodowego,0,7,0,7
25,50,Specjalny Ośrodek Wychowawczy,0,5,0,5
26,51,Specjalny Ośrodek Szkolno-Wychowawczy,0,89,0,89
27,52,Ośrodek Rewalidacyjno-Wychowawczy umożliwiając...,0,12,0,12
28,53,Młodzieżowy Ośrodek Wychowawczy,3,85,0,88
29,54,Młodzieżowy Ośrodek Socjoterapii ze szkołami,3,60,0,63
30,55,Bursa,0,51,0,51
31,56,Dom wczasów dziecięcych,0,75,0,75
32,64,Niepubliczna placówka oświatowo-wychowawcza w ...,0,3,0,3
33,80,Zespół wychowania przedszkolnego,0,1,0,1
34,81,Punkt przedszkolny,0,26,0,26
35,82,Poznańska szkoła chóralna,0,10,0,10
36,90,Bednarska Szkoła Realna,0,1,0,1

# Wg województw

* wczytujemy `wg województw`
* pozbywamy się kodów, wczytujemy bez pierwszych dwóch wierszy, bez ostatniego, etc.
* zamieniamy indeksy: po lewej placówka oświatowa, po prawej województwo. Są zgrupowane po placówce oświatowej

* zamienić indeksy miejscami na etapie read_excel (tak naprawdę można też zamieniać indeksy miejscami w gotowej ramce danych)
* posortować, ale po indeksie (już po wczytaniu przez read_excel)

In [44]:
wypadki = pd.read_excel("WypadkiwgwojewodztwIX2016.xls",
              sheet_name="wg województw",
              header=2,
              skipfooter=1,
              usecols="B,D:G",
              index_col=[0, 1])

In [39]:
wypadki.head(20)

                                                                            ciężki  \
WOJ. DOLNOŚLĄSKIE       Przedszkole                                              0
                        Szkoła podstawowa                                        8
                        Gimnazjum                                                5
                        Zasadnicza szkoła zawodowa                               0
                        Liceum ogólnokształcące                                  1
                        Technikum                                                3
                        Szkoła policealna (ponadgimnazjalna)                     0
                        Szkoła specjalna przysposabiająca do pracy dla ...       0
                        Sześcioletnia ogólnokształcąca szkoła muzyczna ...       0
                        Młodzieżowy dom kultury                                  0
                        Centrum Kształcenia Ustawicznego ze szkołami             0
                        Specjalny Ośrodek Szkolno-Wychowawczy                    0
                        Młodzieżowy Ośrodek Wychowawczy                          0
                        Młodzieżowy Ośrodek Socjoterapii ze szkołami             0
                        Bursa                                                    0
                        Dom wczasów dziecięcych                                  0
                        Punkt przedszkolny                                       0
WOJ. KUJAWSKO-POMORSKIE Przedszkole                                              0
                        Szkoła podstawowa                                        1
                        Gimnazjum                                               10

                                                                            inny  \
WOJ. DOLNOŚLĄSKIE       Przedszkole                                          206
                        Szkoła podstawowa                                   2146
                        Gimnazjum                                           1607
                        Zasadnicza szkoła zawodowa                            71
                        Liceum ogólnokształcące                              347
                        Technikum                                            261
                        Szkoła policealna (ponadgimnazjalna)                   3
                        Szkoła specjalna przysposabiająca do pracy dla ...     4
                        Sześcioletnia ogólnokształcąca szkoła muzyczna ...     1
                        Młodzieżowy dom kultury                                1
                        Centrum Kształcenia Ustawicznego ze szkołami           2
                        Specjalny Ośrodek Szkolno-Wychowawczy                  7
                        Młodzieżowy Ośrodek Wychowawczy                       15
                        Młodzieżowy Ośrodek Socjoterapii ze szkołami           5
                        Bursa                                                  4
                        Dom wczasów dziecięcych                               20
                        Punkt przedszkolny                                     7
WOJ. KUJAWSKO-POMORSKIE Przedszkole                                           89
                        Szkoła podstawowa                                   1484
                        Gimnazjum                                           1123

                                                                            śmiertelny
WOJ. DOLNOŚLĄSKIE       Przedszkole                                                  0
                        Szkoła podstawowa                                            0
                        Gimnazjum                                                    0
                        Zasadnicza szkoła zawodowa                                   0
                        Liceum ogólnokształcące                                      0
                        Technikum                                                    0
                        Szkoła policealna (ponadgimnazjalna)                         0
                        Szkoła specjalna przysposabiająca do pracy dla ...           0
                        Sześcioletnia ogólnokształcąca szkoła muzyczna ...           0
                        Młodzieżowy dom kultury                                      0
                        Centrum Kształcenia Ustawicznego ze szkołami                 0
                        Specjalny Ośrodek Szkolno-Wychowawczy                        0
                        Młodzieżowy Ośrodek Wychowawczy                              0
                        Młodzieżowy Ośrodek Socjoterapii ze szkołami                 0
                        Bursa                                                        0
                        Dom wczasów dziecięcych                                      0
                        Punkt przedszkolny                                           0
WOJ. KUJAWSKO-POMORSKIE Przedszkole                                                  0
                        Szkoła podstawowa                                            0
                        Gimnazjum                                                    0

In [42]:
wypadki.index

MultiIndex([(      'WOJ. DOLNOŚLĄSKIE', ...),
            (      'WOJ. DOLNOŚLĄSKIE', ...),
            (      'WOJ. DOLNOŚLĄSKIE', ...),
            (      'WOJ. DOLNOŚLĄSKIE', ...),
            (      'WOJ. DOLNOŚLĄSKIE', ...),
            (      'WOJ. DOLNOŚLĄSKIE', ...),
            (      'WOJ. DOLNOŚLĄSKIE', ...),
            (      'WOJ. DOLNOŚLĄSKIE', ...),
            (      'WOJ. DOLNOŚLĄSKIE', ...),
            (      'WOJ. DOLNOŚLĄSKIE', ...),
            ...
            ('WOJ. ZACHODNIOPOMORSKIE', ...),
            ('WOJ. ZACHODNIOPOMORSKIE', ...),
            ('WOJ. ZACHODNIOPOMORSKIE', ...),
            ('WOJ. ZACHODNIOPOMORSKIE', ...),
            ('WOJ. ZACHODNIOPOMORSKIE', ...),
            ('WOJ. ZACHODNIOPOMORSKIE', ...),
            ('WOJ. ZACHODNIOPOMORSKIE', ...),
            ('WOJ. ZACHODNIOPOMORSKIE', ...),
            ('WOJ. ZACHODNIOPOMORSKIE', ...),
            ('WOJ. ZACHODNIOPOMORSKIE', ...)],
           length=273)

In [41]:
wypadki.index[0]

('WOJ. DOLNOŚLĄSKIE', 'Przedszkole')

In [45]:
wypadki = pd.read_excel("WypadkiwgwojewodztwIX2016.xls",
                        sheet_name="wg województw",
                        header=2,
                        skipfooter=1,
                        usecols="B,D:G",
                        index_col=[1, 0])

In [46]:
wypadki.head(20)

,,ciężki,inny,śmiertelny
Przedszkole,WOJ. DOLNOŚLĄSKIE,0,206,0
Szkoła podstawowa,WOJ. DOLNOŚLĄSKIE,8,2146,0
Gimnazjum,WOJ. DOLNOŚLĄSKIE,5,1607,0
Zasadnicza szkoła zawodowa,WOJ. DOLNOŚLĄSKIE,0,71,0
Liceum ogólnokształcące,WOJ. DOLNOŚLĄSKIE,1,347,0
Technikum,WOJ. DOLNOŚLĄSKIE,3,261,0
Szkoła policealna (ponadgimnazjalna),WOJ. DOLNOŚLĄSKIE,0,3,0
Szkoła specjalna przysposabiająca do pracy dla uczniów z upośledzeniem umysłowym w stopniu umiarkowanym lub znacznym oraz dla uczniów z więcej niż jedną niepełnosprawnością,WOJ. DOLNOŚLĄSKIE,0,4,0
Sześcioletnia ogólnokształcąca szkoła muzyczna II stopnia,WOJ. DOLNOŚLĄSKIE,0,1,0
Młodzieżowy dom kultury,WOJ. DOLNOŚLĄSKIE,0,1,0
Centrum Kształcenia Ustawicznego ze szkołami,WOJ. DOLNOŚLĄSKIE,0,2,0
Specjalny Ośrodek Szkolno-Wychowawczy,WOJ. DOLNOŚLĄSKIE,0,7,0
Młodzieżowy Ośrodek Wychowawczy,WOJ. DOLNOŚLĄSKIE,0,15,0
Młodzieżowy Ośrodek Socjoterapii ze szkołami,WOJ. DOLNOŚLĄSKIE,0,5,0
Bursa,WOJ. DOLNOŚLĄSKIE,0,4,0
Dom wczasów dziecięcych,WOJ. DOLNOŚLĄSKIE,0,20,0
Punkt przedszkolny,WOJ. DOLNOŚLĄSKIE,0,7,0
Przedszkole,WOJ. KUJAWSKO-POMORSKIE,0,89,0
Szkoła podstawowa,WOJ. KUJAWSKO-POMORSKIE,1,1484,0
Gimnazjum,WOJ. KUJAWSKO-POMORSKIE,10,1123,0

In [49]:
wypadki.sort_index(axis=0)

                                                          ciężki  inny  \
Bednarska Szkoła Realna          WOJ. MAZOWIECKIE              0     1
Bursa                            WOJ. DOLNOŚLĄSKIE             0     4
                                 WOJ. KUJAWSKO-POMORSKIE       0     1
                                 WOJ. LUBELSKIE                0    10
                                 WOJ. MAŁOPOLSKIE              0    14
...                                                          ...   ...
Zasadnicza szkoła zawodowa       WOJ. ZACHODNIOPOMORSKIE       0    48
                                 WOJ. ŁÓDZKIE                  0    49
                                 WOJ. ŚLĄSKIE                  0   175
                                 WOJ. ŚWIĘTOKRZYSKIE           0    30
Zespół wychowania przedszkolnego WOJ. POMORSKIE                0     1

                                                          śmiertelny
Bednarska Szkoła Realna          WOJ. MAZOWIECKIE                  0
Bursa                            WOJ. DOLNOŚLĄSKIE                 0
                                 WOJ. KUJAWSKO-POMORSKIE           0
                                 WOJ. LUBELSKIE                    0
                                 WOJ. MAŁOPOLSKIE                  0
...                                                              ...
Zasadnicza szkoła zawodowa       WOJ. ZACHODNIOPOMORSKIE           0
                                 WOJ. ŁÓDZKIE                      0
                                 WOJ. ŚLĄSKIE                      0
                                 WOJ. ŚWIĘTOKRZYSKIE               0
Zespół wychowania przedszkolnego WOJ. POMORSKIE                    0

[273 rows x 3 columns]

In [50]:
wypadki = pd.read_excel("WypadkiwgwojewodztwIX2016.xls",
                        sheet_name="wg województw",
                        header=2,
                        skipfooter=1,
                        usecols="B,D:G",
                        index_col=[0, 1])

In [57]:
#wypadki.swaplevel(0,1)
wypadki = wypadki.swaplevel()

In [56]:
wypadki.sort_index(axis=0)

                                                          ciężki  inny  \
Bednarska Szkoła Realna          WOJ. MAZOWIECKIE              0     1
Bursa                            WOJ. DOLNOŚLĄSKIE             0     4
                                 WOJ. KUJAWSKO-POMORSKIE       0     1
                                 WOJ. LUBELSKIE                0    10
                                 WOJ. MAŁOPOLSKIE              0    14
...                                                          ...   ...
Zasadnicza szkoła zawodowa       WOJ. ZACHODNIOPOMORSKIE       0    48
                                 WOJ. ŁÓDZKIE                  0    49
                                 WOJ. ŚLĄSKIE                  0   175
                                 WOJ. ŚWIĘTOKRZYSKIE           0    30
Zespół wychowania przedszkolnego WOJ. POMORSKIE                0     1

                                                          śmiertelny
Bednarska Szkoła Realna          WOJ. MAZOWIECKIE                  0
Bursa                            WOJ. DOLNOŚLĄSKIE                 0
                                 WOJ. KUJAWSKO-POMORSKIE           0
                                 WOJ. LUBELSKIE                    0
                                 WOJ. MAŁOPOLSKIE                  0
...                                                              ...
Zasadnicza szkoła zawodowa       WOJ. ZACHODNIOPOMORSKIE           0
                                 WOJ. ŁÓDZKIE                      0
                                 WOJ. ŚLĄSKIE                      0
                                 WOJ. ŚWIĘTOKRZYSKIE               0
Zespół wychowania przedszkolnego WOJ. POMORSKIE                    0

[273 rows x 3 columns]

In [65]:
wypadki = pd.read_excel("WypadkiwgwojewodztwIX2016.xls",
                        sheet_name="wg województw",
                        header=2,
                        skipfooter=1,
                        usecols="B,D:ZZZ",
                        index_col=[0, 1])

In [69]:
wypadki.head(20)

                                                                            ciężki  \
WOJ. DOLNOŚLĄSKIE       Przedszkole                                              0
                        Szkoła podstawowa                                        8
                        Gimnazjum                                                5
                        Zasadnicza szkoła zawodowa                               0
                        Liceum ogólnokształcące                                  1
                        Technikum                                                3
                        Szkoła policealna (ponadgimnazjalna)                     0
                        Szkoła specjalna przysposabiająca do pracy dla ...       0
                        Sześcioletnia ogólnokształcąca szkoła muzyczna ...       0
                        Młodzieżowy dom kultury                                  0
                        Centrum Kształcenia Ustawicznego ze szkołami             0
                        Specjalny Ośrodek Szkolno-Wychowawczy                    0
                        Młodzieżowy Ośrodek Wychowawczy                          0
                        Młodzieżowy Ośrodek Socjoterapii ze szkołami             0
                        Bursa                                                    0
                        Dom wczasów dziecięcych                                  0
                        Punkt przedszkolny                                       0
WOJ. KUJAWSKO-POMORSKIE Przedszkole                                              0
                        Szkoła podstawowa                                        1
                        Gimnazjum                                               10

                                                                            inny  \
WOJ. DOLNOŚLĄSKIE       Przedszkole                                          206
                        Szkoła podstawowa                                   2146
                        Gimnazjum                                           1607
                        Zasadnicza szkoła zawodowa                            71
                        Liceum ogólnokształcące                              347
                        Technikum                                            261
                        Szkoła policealna (ponadgimnazjalna)                   3
                        Szkoła specjalna przysposabiająca do pracy dla ...     4
                        Sześcioletnia ogólnokształcąca szkoła muzyczna ...     1
                        Młodzieżowy dom kultury                                1
                        Centrum Kształcenia Ustawicznego ze szkołami           2
                        Specjalny Ośrodek Szkolno-Wychowawczy                  7
                        Młodzieżowy Ośrodek Wychowawczy                       15
                        Młodzieżowy Ośrodek Socjoterapii ze szkołami           5
                        Bursa                                                  4
                        Dom wczasów dziecięcych                               20
                        Punkt przedszkolny                                     7
WOJ. KUJAWSKO-POMORSKIE Przedszkole                                           89
                        Szkoła podstawowa                                   1484
                        Gimnazjum                                           1123

                                                                            śmiertelny  \
WOJ. DOLNOŚLĄSKIE       Przedszkole                                                  0
                        Szkoła podstawowa                                            0
                        Gimnazjum                                                    0
                        Zasadnicza szkoła zawodowa                                   0
                        Liceum ogólnokształcące                                      0
                        Technikum                                                    0
                        Szkoła policealna (ponadgimnazjalna)                         0
                        Szkoła specjalna przysposabiająca do pracy dla ...           0
                        Sześcioletnia ogólnokształcąca szkoła muzyczna ...           0
                        Młodzieżowy dom kultury                                      0
                        Centrum Kształcenia Ustawicznego ze szkołami                 0
                        Specjalny Ośrodek Szkolno-Wychowawczy                        0
                        Młodzieżowy Ośrodek Wychowawczy                              0
                        Młodzieżowy Ośrodek Socjoterapii ze szkołami                 0
                        Bursa                                                        0
                        Dom wczasów dziecięcych                                      0
                        Punkt przedszkolny                                           0
WOJ. KUJAWSKO-POMORSKIE Przedszkole                                                  0
                        Szkoła podstawowa                                            0
                        Gimnazjum                                                    0

                                                                            Razem
WOJ. DOLNOŚLĄSKIE       Przedszkole                                           206
                        Szkoła podstawowa                                    2154
                        Gimnazjum                                            1612
                        Zasadnicza szkoła zawodowa                             71
                        Liceum ogólnokształcące                               348
                        Technikum                                             264
                        Szkoła policealna (ponadgimnazjalna)                    3
                        Szkoła specjalna przysposabiająca do pracy dla ...      4
                        Sześcioletnia ogólnokształcąca szkoła muzyczna ...      1
                        Młodzieżowy dom kultury                                 1
                        Centrum Kształcenia Ustawicznego ze szkołami            2
                        Specjalny Ośrodek Szkolno-Wychowawczy                   7
                        Młodzieżowy Ośrodek Wychowawczy                        15
                        Młodzieżowy Ośrodek Socjoterapii ze szkołami            5
                        Bursa                                                   4
                        Dom wczasów dziecięcych                                20
                        Punkt przedszkolny                                      7
WOJ. KUJAWSKO-POMORSKIE Przedszkole                                            89
                        Szkoła podstawowa                                    1485
                        Gimnazjum                                            1133

In [73]:
wypadki.iloc[[2], :]

                             ciężki  inny  śmiertelny  Razem
WOJ. DOLNOŚLĄSKIE Gimnazjum       5  1607           0   1612

In [72]:
wypadki.loc[["WOJ. KUJAWSKO-POMORSKIE"], ["Gimnazjum", "Bursa"], :]

                                   ciężki  inny  śmiertelny  Razem
WOJ. KUJAWSKO-POMORSKIE Gimnazjum      10  1123           0   1133
                        Bursa           0     1           0      1