pip install pandas

!pip install pandas

In [1]:
import pandas as pd

* Wczytać `AiSD2.csv` przez `pd.read_csv()`
* Odwołać się do kolumny `Nazwisko` (wyświetlić ją). Czy się udało?

In [2]:
oceny = pd.read_csv("AiSD2.csv")
oceny.head()

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5)
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NA
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NA
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NA
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA

In [3]:
oceny.Nazwisko

AttributeError: 'DataFrame' object has no attribute 'Nazwisko'

In [4]:
oceny["Nazwisko"]

KeyError: 'Nazwisko'

In [5]:
oceny.columns

Index(['Imię', '      Nazwisko', '           Z1(4+1)', '  Z2(4+1)',
       '    Z3(4+1)', '   Z4(4+1)', '   Z5(2+2)', '   Z6(4+1)', '  Z7(4+1)',
       '   Z8(4+1)', '   Z9(4+1)', ' Z10(4+1)', '    Z11(4+1)', '  Z12(4+1)',
       '            Z13(5)', '  Z14(4+1)', 'Z15(5)'],
      dtype='object')

In [6]:
oceny["      Nazwisko"]

0               Nowak
1            Kowalski
2          Wiśniewski
3           Dąbrowski
4         Lewandowski
5              Wójcik
6            Kamiński
7           Kowalczyk
8           Zielińska
9           Szymański
10            Woźniak
Name:       Nazwisko, dtype: object

In [7]:
oceny[["      Nazwisko", "   Z4(4+1)"]]

           Nazwisko     Z4(4+1)
0             Nowak     1.0+2.0
1          Kowalski     1.5+1.5
2        Wiśniewski     1.5+1.5
3         Dąbrowski       NA+NA
4       Lewandowski     1.5+1.5
5            Wójcik     1.5+1.5
6          Kamiński     1.5+0.5
7         Kowalczyk     4.0+2.0
8         Zielińska     1.0+0.0
9         Szymański     0.0+1.5
10          Woźniak     3.0+2.0

In [9]:
oceny["      Nazwisko"].values

array(['      Nowak', '     Kowalski', '     Wiśniewski', '    Dąbrowski',
       '  Lewandowski', 'Wójcik', '    Kamiński', '     Kowalczyk',
       '    Zielińska', '   Szymański', '    Woźniak'], dtype=object)

Jak to rozwiązać?

* na piechotę (stip(), apply())
* elegancka metoda, na etapie wczytywania

## Na piechotę

In [13]:
oceny.columns.str.strip()

Index(['Imię', 'Nazwisko', 'Z1(4+1)', 'Z2(4+1)', 'Z3(4+1)', 'Z4(4+1)',
       'Z5(2+2)', 'Z6(4+1)', 'Z7(4+1)', 'Z8(4+1)', 'Z9(4+1)', 'Z10(4+1)',
       'Z11(4+1)', 'Z12(4+1)', 'Z13(5)', 'Z14(4+1)', 'Z15(5)'],
      dtype='object')

In [14]:
oceny.columns

Index(['Imię', '      Nazwisko', '           Z1(4+1)', '  Z2(4+1)',
       '    Z3(4+1)', '   Z4(4+1)', '   Z5(2+2)', '   Z6(4+1)', '  Z7(4+1)',
       '   Z8(4+1)', '   Z9(4+1)', ' Z10(4+1)', '    Z11(4+1)', '  Z12(4+1)',
       '            Z13(5)', '  Z14(4+1)', 'Z15(5)'],
      dtype='object')

In [18]:
oceny.columns = oceny.columns.str.strip() # to nie naprawia wartości w wierszach

In [16]:
oceny.columns

Index(['Imię', 'Nazwisko', 'Z1(4+1)', 'Z2(4+1)', 'Z3(4+1)', 'Z4(4+1)',
       'Z5(2+2)', 'Z6(4+1)', 'Z7(4+1)', 'Z8(4+1)', 'Z9(4+1)', 'Z10(4+1)',
       'Z11(4+1)', 'Z12(4+1)', 'Z13(5)', 'Z14(4+1)', 'Z15(5)'],
      dtype='object')

In [17]:
oceny.Nazwisko

0               Nowak
1            Kowalski
2          Wiśniewski
3           Dąbrowski
4         Lewandowski
5              Wójcik
6            Kamiński
7           Kowalczyk
8           Zielińska
9           Szymański
10            Woźniak
Name: Nazwisko, dtype: object

In [19]:
oceny.Nazwisko.values

array(['      Nowak', '     Kowalski', '     Wiśniewski', '    Dąbrowski',
       '  Lewandowski', 'Wójcik', '    Kamiński', '     Kowalczyk',
       '    Zielińska', '   Szymański', '    Woźniak'], dtype=object)

In [21]:
oceny.Nazwisko.str.strip().values

array(['Nowak', 'Kowalski', 'Wiśniewski', 'Dąbrowski', 'Lewandowski',
       'Wójcik', 'Kamiński', 'Kowalczyk', 'Zielińska', 'Szymański',
       'Woźniak'], dtype=object)

In [22]:
oceny.Nazwisko.values

array(['      Nowak', '     Kowalski', '     Wiśniewski', '    Dąbrowski',
       '  Lewandowski', 'Wójcik', '    Kamiński', '     Kowalczyk',
       '    Zielińska', '   Szymański', '    Woźniak'], dtype=object)

In [24]:
oceny.str.strip() # niestety nie ma

AttributeError: 'DataFrame' object has no attribute 'str'

In [25]:
oceny.strip() # niestety nie ma

AttributeError: 'DataFrame' object has no attribute 'strip'

In [ ]:
oceny.Nazwisko.str.strip()

In [31]:
oceny2 = oceny.apply(lambda x: x.str.strip()) # tu mamy trochę szczęścia że zadziałało

In [32]:
oceny2.head()

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5)
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NA
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NA
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NA
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA

In [33]:
oceny2["Z4(4+1)"].values

array(['1.0+2.0', '1.5+1.5', '1.5+1.5', 'NA+NA', '1.5+1.5', '1.5+1.5',
       '1.5+0.5', '4.0+2.0', '1.0+0.0', '0.0+1.5', '3.0+2.0'],
      dtype=object)

In [34]:
oceny.dtypes

Imię        object
Nazwisko    object
Z1(4+1)     object
Z2(4+1)     object
Z3(4+1)     object
Z4(4+1)     object
Z5(2+2)     object
Z6(4+1)     object
Z7(4+1)     object
Z8(4+1)     object
Z9(4+1)     object
Z10(4+1)    object
Z11(4+1)    object
Z12(4+1)    object
Z13(5)      object
Z14(4+1)    object
Z15(5)      object
dtype: object

Dygresja: czym się różnią metody `apply()` oraz `applymap()` i na czym operują?

In [35]:
oceny.apply(lambda x: print(x))

0           Anna
1          Rafał
2          Pavlo
3         Aleksy
4       Jarosław
5     Bartłomiej
6         Łukasz
7          Oskar
8         Joanna
9        Oktawia
10        Patryk
Name: Imię, dtype: object
0               Nowak
1            Kowalski
2          Wiśniewski
3           Dąbrowski
4         Lewandowski
5              Wójcik
6            Kamiński
7           Kowalczyk
8           Zielińska
9           Szymański
10            Woźniak
Name: Nazwisko, dtype: object
0                   2.5+1.0
1                   3.0+0.0
2                   2.5+0.5
3                   0.5+1.0
4                   2.0+0.0
5                   2.0+1.0
6                   4.0+1.0
7                   4.0+0.5
8                   2.5+0.0
9                   2.5+1.0
10                  2.0+1.0
Name: Z1(4+1), dtype: object
0       4.0+1.0
1       2.0+0.5
2        US+1.0
3       1.0+1.0
4       3.0+1.0
5       2.0+1.0
6       2.0+1.0
7       4.0+1.0
8         US+US
9       0.0+0.0
10      4.0+1.0
Name: Z2(4+1), dtype: object
0         2.0+0.0
1         2.0+1.0
2         2.5+1.0
3           NA+NA
4         1.0+0.0
5         2.5+0.5
6         3.5+1.0
7         2.0+1.0
8         0.5+0.0
9         1.0+0.5
10        2.5+1.0
Name: Z3(4+1), dtype: object
0        1.0+2.0
1        1.5+1.5
2        1.5+1.5
3          NA+NA
4        1.5+1.5
5        1.5+1.5
6        1.5+0.5
7        4.0+2.0
8        1.0+0.0
9        0.0+1.5
10       3.0+2.0
Name: Z4(4+1), dtype: object
0        1.5+2.0
1        2.0+1.0
2        2.0+1.5
3          NA+NA
4        0.5+0.0
5        0.5+1.0
6        1.5+0.5
7        2.0+1.0
8        0.5+1.0
9        0.5+0.5
10       1.0+0.5
Name: Z5(2+2), dtype: object
0         2.0+0.0
1         1.0+0.5
2         3.5+0.0
3           NA+NA
4        1.25+0.0
5        1.75+0.5
6          US+1.0
7         1.5+0.0
8         1.0+0.0
9           NB+NB
10        1.0+0.5
Name: Z6(4+1), dtype: object
0          0.0+NB
1          0.0+NB
2         1.0+1.0
3           NA+NA
4          0.0+NB
5         0.0+1.0
6         0.5+1.0
7         1.0+1.0
8          0.5+NB
9          0.0+NB
10        1.0+0.5
Name: Z7(4+1), dtype: object
0        1.5+1.0
1        3.0+1.0
2        3.0+1.0
3          NA+NA
4        2.5+0.0
5        1.5+1.0
6        2.0+1.0
7        4.0+1.0
8          NB+NB
9          NB+NB
10       2.0+1.0
Name: Z8(4+1), dtype: object
0        3.5+0.5
1        3.5+1.0
2        3.5+1.0
3          NA+NA
4          NB+NB
5        4.0+1.0
6        3.5+1.0
7        4.0+1.0
8          NB+NB
9          NB+NB
10       4.0+1.0
Name: Z9(4+1), dtype: object
0        2.0+0.0
1         0.0+NB
2          ZW+ZW
3          NA+NA
4          NB+NB
5          ZW+ZW
6        2.0+0.0
7        1.0+0.5
8          NB+NB
9          NB+NB
10       2.0+0.5
Name: Z10(4+1), dtype: object
0          0.5+1.0
1          1.0+1.0
2          1.0+0.5
3            NA+NA
4            NB+NB
5          0.5+1.0
6          0.5+0.5
7           0.0+NB
8            NB+NB
9            NB+NB
10         4.0+1.0
Name: Z11(4+1), dtype: object
0                    ZW+ZW
1        NS.(3.0)+NS.(1.0)
2                  3.5+1.0
3                    NA+NA
4                    NB+NB
5                  3.0+0.0
6                  3.0+1.0
7                  3.5+1.0
8                    NB+NB
9                    NB+NB
10                 4.0+1.0
Name: Z12(4+1), dtype: object
0                    4.0+0.0
1                    4.0+0.0
2                    4.0+1.0
3                      NA+NA
4                      NB+NB
5                    4.0+1.0
6                    2.0+1.0
7                    4.0+1.0
8                      NB+NB
9                      NB+NB
10                   2.0+0.0
Name: Z13(5), dtype: object
0      4.0+1.0
1      4.0+1.0
2      4.0+1.0
3        NA+NA
4        NB+NB
5      3.5+0.0
6      4.0+1.0
7      3.0+0.0
8        NB+NB
9        NB+NB
10     4.0+1.0
Name: Z14(4+1), dtype: object
0        NA
1        NA
2        NA
3        NA
4        NA
5        NA
6        NA
7        NA
8        NA
9        NA
10       NA
Name: Z15(5), dtype: object

Imię        None
Nazwisko    None
Z1(4+1)     None
Z2(4+1)     None
Z3(4+1)     None
Z4(4+1)     None
Z5(2+2)     None
Z6(4+1)     None
Z7(4+1)     None
Z8(4+1)     None
Z9(4+1)     None
Z10(4+1)    None
Z11(4+1)    None
Z12(4+1)    None
Z13(5)      None
Z14(4+1)    None
Z15(5)      None
dtype: object

In [36]:
oceny.apply(lambda x: print(type(x)))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

Imię        None
Nazwisko    None
Z1(4+1)     None
Z2(4+1)     None
Z3(4+1)     None
Z4(4+1)     None
Z5(2+2)     None
Z6(4+1)     None
Z7(4+1)     None
Z8(4+1)     None
Z9(4+1)     None
Z10(4+1)    None
Z11(4+1)    None
Z12(4+1)    None
Z13(5)      None
Z14(4+1)    None
Z15(5)      None
dtype: object

In [38]:
oceny.apply(lambda x: print(x), axis=1) # axis kontroluje czy to wiersze czy kolumny, tutaj to są wiersze

Imię                          Anna
Nazwisko                     Nowak
Z1(4+1)                    2.5+1.0
Z2(4+1)                    4.0+1.0
Z3(4+1)                    2.0+0.0
Z4(4+1)                    1.0+2.0
Z5(2+2)                    1.5+2.0
Z6(4+1)                    2.0+0.0
Z7(4+1)                     0.0+NB
Z8(4+1)                    1.5+1.0
Z9(4+1)                    3.5+0.5
Z10(4+1)                   2.0+0.0
Z11(4+1)                   0.5+1.0
Z12(4+1)                     ZW+ZW
Z13(5)                     4.0+0.0
Z14(4+1)                   4.0+1.0
Z15(5)                          NA
Name: 0, dtype: object
Imię                        Rafał
Nazwisko                 Kowalski
Z1(4+1)                   3.0+0.0
Z2(4+1)                   2.0+0.5
Z3(4+1)                   2.0+1.0
Z4(4+1)                   1.5+1.5
Z5(2+2)                   2.0+1.0
Z6(4+1)                   1.0+0.5
Z7(4+1)                    0.0+NB
Z8(4+1)                   3.0+1.0
Z9(4+1)                   3.5+1.0
Z10(4+1)                   0.0+NB
Z11(4+1)                  1.0+1.0
Z12(4+1)        NS.(3.0)+NS.(1.0)
Z13(5)                    4.0+0.0
Z14(4+1)                  4.0+1.0
Z15(5)                         NA
Name: 1, dtype: object
Imię                       Pavlo
Nazwisko              Wiśniewski
Z1(4+1)                  2.5+0.5
Z2(4+1)                   US+1.0
Z3(4+1)                  2.5+1.0
Z4(4+1)                  1.5+1.5
Z5(2+2)                  2.0+1.5
Z6(4+1)                  3.5+0.0
Z7(4+1)                  1.0+1.0
Z8(4+1)                  3.0+1.0
Z9(4+1)                  3.5+1.0
Z10(4+1)                   ZW+ZW
Z11(4+1)                 1.0+0.5
Z12(4+1)                 3.5+1.0
Z13(5)                   4.0+1.0
Z14(4+1)                 4.0+1.0
Z15(5)                        NA
Name: 2, dtype: object
Imię                     Aleksy
Nazwisko              Dąbrowski
Z1(4+1)                 0.5+1.0
Z2(4+1)                 1.0+1.0
Z3(4+1)                   NA+NA
Z4(4+1)                   NA+NA
Z5(2+2)                   NA+NA
Z6(4+1)                   NA+NA
Z7(4+1)                   NA+NA
Z8(4+1)                   NA+NA
Z9(4+1)                   NA+NA
Z10(4+1)                  NA+NA
Z11(4+1)                  NA+NA
Z12(4+1)                  NA+NA
Z13(5)                    NA+NA
Z14(4+1)                  NA+NA
Z15(5)                       NA
Name: 3, dtype: object
Imię                    Jarosław
Nazwisko             Lewandowski
Z1(4+1)                  2.0+0.0
Z2(4+1)                  3.0+1.0
Z3(4+1)                  1.0+0.0
Z4(4+1)                  1.5+1.5
Z5(2+2)                  0.5+0.0
Z6(4+1)                 1.25+0.0
Z7(4+1)                   0.0+NB
Z8(4+1)                  2.5+0.0
Z9(4+1)                    NB+NB
Z10(4+1)                   NB+NB
Z11(4+1)                   NB+NB
Z12(4+1)                   NB+NB
Z13(5)                     NB+NB
Z14(4+1)                   NB+NB
Z15(5)                        NA
Name: 4, dtype: object
Imię                  Bartłomiej
Nazwisko                  Wójcik
Z1(4+1)                  2.0+1.0
Z2(4+1)                  2.0+1.0
Z3(4+1)                  2.5+0.5
Z4(4+1)                  1.5+1.5
Z5(2+2)                  0.5+1.0
Z6(4+1)                 1.75+0.5
Z7(4+1)                  0.0+1.0
Z8(4+1)                  1.5+1.0
Z9(4+1)                  4.0+1.0
Z10(4+1)                   ZW+ZW
Z11(4+1)                 0.5+1.0
Z12(4+1)                 3.0+0.0
Z13(5)                   4.0+1.0
Z14(4+1)                 3.5+0.0
Z15(5)                        NA
Name: 5, dtype: object
Imię                      Łukasz
Nazwisko                Kamiński
Z1(4+1)                  4.0+1.0
Z2(4+1)                  2.0+1.0
Z3(4+1)                  3.5+1.0
Z4(4+1)                  1.5+0.5
Z5(2+2)                  1.5+0.5
Z6(4+1)                   US+1.0
Z7(4+1)                  0.5+1.0
Z8(4+1)                  2.0+1.0
Z9(4+1)                  3.5+1.0
Z10(4+1)                 2.0+0.0
Z11(4+1)                 0.5+0.5
Z12(4+1)                 3.0+1.0
Z13(5)                   2.0+1.0
Z14(4+1)                 4.0+1.0
Z15(5)                        NA
Name: 6, dtype: object
Imię                        Oskar
Nazwisko                Kowalczyk
Z1(4+1)                   4.0+0.5
Z2(4+1)                   4.0+1.0
Z3(4+1)                   2.0+1.0
Z4(4+1)                   4.0+2.0
Z5(2+2)                   2.0+1.0
Z6(4+1)                   1.5+0.0
Z7(4+1)                   1.0+1.0
Z8(4+1)                   4.0+1.0
Z9(4+1)                   4.0+1.0
Z10(4+1)                  1.0+0.5
Z11(4+1)                   0.0+NB
Z12(4+1)                  3.5+1.0
Z13(5)                    4.0+1.0
Z14(4+1)                  3.0+0.0
Z15(5)                         NA
Name: 7, dtype: object
Imię                      Joanna
Nazwisko               Zielińska
Z1(4+1)                  2.5+0.0
Z2(4+1)                    US+US
Z3(4+1)                  0.5+0.0
Z4(4+1)                  1.0+0.0
Z5(2+2)                  0.5+1.0
Z6(4+1)                  1.0+0.0
Z7(4+1)                   0.5+NB
Z8(4+1)                    NB+NB
Z9(4+1)                    NB+NB
Z10(4+1)                   NB+NB
Z11(4+1)                   NB+NB
Z12(4+1)                   NB+NB
Z13(5)                     NB+NB
Z14(4+1)                   NB+NB
Z15(5)                        NA
Name: 8, dtype: object
Imię                     Oktawia
Nazwisko               Szymański
Z1(4+1)                  2.5+1.0
Z2(4+1)                  0.0+0.0
Z3(4+1)                  1.0+0.5
Z4(4+1)                  0.0+1.5
Z5(2+2)                  0.5+0.5
Z6(4+1)                    NB+NB
Z7(4+1)                   0.0+NB
Z8(4+1)                    NB+NB
Z9(4+1)                    NB+NB
Z10(4+1)                   NB+NB
Z11(4+1)                   NB+NB
Z12(4+1)                   NB+NB
Z13(5)                     NB+NB
Z14(4+1)                   NB+NB
Z15(5)                        NA
Name: 9, dtype: object
Imię                      Patryk
Nazwisko                 Woźniak
Z1(4+1)                  2.0+1.0
Z2(4+1)                  4.0+1.0
Z3(4+1)                  2.5+1.0
Z4(4+1)                  3.0+2.0
Z5(2+2)                  1.0+0.5
Z6(4+1)                  1.0+0.5
Z7(4+1)                  1.0+0.5
Z8(4+1)                  2.0+1.0
Z9(4+1)                  4.0+1.0
Z10(4+1)                 2.0+0.5
Z11(4+1)                 4.0+1.0
Z12(4+1)                 4.0+1.0
Z13(5)                   2.0+0.0
Z14(4+1)                 4.0+1.0
Z15(5)                        NA
Name: 10, dtype: object

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
dtype: object

In [42]:
oceny.applymap(lambda x: print(x)) # działa na pojedyńczych komórkach

Anna
Rafał
Pavlo
Aleksy
Jarosław
Bartłomiej
Łukasz
Oskar
Joanna
Oktawia
Patryk
      Nowak
     Kowalski
     Wiśniewski
    Dąbrowski
  Lewandowski
Wójcik
    Kamiński
     Kowalczyk
    Zielińska
   Szymański
    Woźniak
              2.5+1.0
              3.0+0.0
      2.5+0.5
            0.5+1.0
    2.0+0.0
    2.0+1.0
    4.0+1.0
              4.0+0.5
      2.5+0.0
           2.5+1.0
            2.0+1.0
  4.0+1.0
  2.0+0.5
  US+1.0
  1.0+1.0
  3.0+1.0
  2.0+1.0
  2.0+1.0
  4.0+1.0
  US+US
  0.0+0.0
  4.0+1.0
    2.0+0.0
    2.0+1.0
    2.5+1.0
    NA+NA
    1.0+0.0
    2.5+0.5
    3.5+1.0
    2.0+1.0
    0.5+0.0
    1.0+0.5
    2.5+1.0
   1.0+2.0
   1.5+1.5
   1.5+1.5
   NA+NA
   1.5+1.5
   1.5+1.5
   1.5+0.5
   4.0+2.0
   1.0+0.0
   0.0+1.5
   3.0+2.0
   1.5+2.0
   2.0+1.0
   2.0+1.5
   NA+NA
   0.5+0.0
   0.5+1.0
   1.5+0.5
   2.0+1.0
   0.5+1.0
   0.5+0.5
   1.0+0.5
   2.0+0.0
   1.0+0.5
   3.5+0.0
   NA+NA
   1.25+0.0
   1.75+0.5
   US+1.0
   1.5+0.0
   1.0+0.0
   NB+NB
   1.0+0.5
   0.0+NB
   0.0+NB
   1.0+1.0
   NA+NA
  0.0+NB
  0.0+1.0
   0.5+1.0
   1.0+1.0
   0.5+NB
     0.0+NB
   1.0+0.5
   1.5+1.0
   3.0+1.0
  3.0+1.0
    NA+NA
   2.5+0.0
  1.5+1.0
  2.0+1.0
  4.0+1.0
   NB+NB
   NB+NB
  2.0+1.0
   3.5+0.5
   3.5+1.0
   3.5+1.0
   NA+NA
   NB+NB
   4.0+1.0
   3.5+1.0
   4.0+1.0
     NB+NB
     NB+NB
   4.0+1.0
   2.0+0.0
   0.0+NB
   ZW+ZW
   NA+NA
     NB+NB
   ZW+ZW
   2.0+0.0
   1.0+0.5
     NB+NB
     NB+NB
   2.0+0.5
   0.5+1.0
    1.0+1.0
     1.0+0.5
   NA+NA
     NB+NB
   0.5+1.0
   0.5+0.5
   0.0+NB
     NB+NB
     NB+NB
   4.0+1.0
   ZW+ZW
   NS.(3.0)+NS.(1.0)
   3.5+1.0
   NA+NA
     NB+NB
   3.0+0.0
   3.0+1.0
    3.5+1.0
     NB+NB
     NB+NB
   4.0+1.0
               4.0+0.0
   4.0+0.0
             4.0+1.0
   NA+NA
               NB+NB
             4.0+1.0
             2.0+1.0
             4.0+1.0
               NB+NB
               NB+NB
             2.0+0.0
 4.0+1.0
 4.0+1.0
 4.0+1.0
 NA+NA
   NB+NB
 3.5+0.0
 4.0+1.0
 3.0+0.0
   NB+NB
   NB+NB
 4.0+1.0
   NA
   NA
   NA
   NA
   NA
   NA
   NA
   NA
   NA
   NA
   NA

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5)
0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
5,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
6,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
9,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
10,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

Jak zastosować stripa typlko na kolumnach pewnego typu?

In [45]:
x = 11
zmienna = 22 if x > 10 else 33

In [46]:
zmienna

22

In [47]:
if x > 10:
    zmienna = 22
else:
    zmienna = 33
zmienna

22

In [48]:
x = "     Janek   "

In [49]:
"     Janek   ".strip()

'Janek'

In [50]:
zmienna = x.strip() if isinstance(x, str) else x

In [51]:
zmienna

'Janek'

In [52]:
x = 6

In [53]:
zmienna = x.strip() if isinstance(x, str) else x

In [54]:
zmienna

6

In [55]:
x.strip()

AttributeError: 'int' object has no attribute 'strip'

In [60]:
df = oceny.applymap(lambda pojedynczy_napis: pojedynczy_napis.strip() if isinstance(pojedynczy_napis, str) else pojedynczy_napis)

In [61]:
df.Nazwisko.values

array(['Nowak', 'Kowalski', 'Wiśniewski', 'Dąbrowski', 'Lewandowski',
       'Wójcik', 'Kamiński', 'Kowalczyk', 'Zielińska', 'Szymański',
       'Woźniak'], dtype=object)

In [62]:
oceny.applymap(lambda pojedynczy_napis: pojedynczy_napis.strip() if isinstance(pojedynczy_napis, str) else pojedynczy_napis)

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5)
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NA
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NA
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NA
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA
5,Bartłomiej,Wójcik,2.0+1.0,2.0+1.0,2.5+0.5,1.5+1.5,0.5+1.0,1.75+0.5,0.0+1.0,1.5+1.0,4.0+1.0,ZW+ZW,0.5+1.0,3.0+0.0,4.0+1.0,3.5+0.0,NA
6,Łukasz,Kamiński,4.0+1.0,2.0+1.0,3.5+1.0,1.5+0.5,1.5+0.5,US+1.0,0.5+1.0,2.0+1.0,3.5+1.0,2.0+0.0,0.5+0.5,3.0+1.0,2.0+1.0,4.0+1.0,NA
7,Oskar,Kowalczyk,4.0+0.5,4.0+1.0,2.0+1.0,4.0+2.0,2.0+1.0,1.5+0.0,1.0+1.0,4.0+1.0,4.0+1.0,1.0+0.5,0.0+NB,3.5+1.0,4.0+1.0,3.0+0.0,NA
8,Joanna,Zielińska,2.5+0.0,US+US,0.5+0.0,1.0+0.0,0.5+1.0,1.0+0.0,0.5+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA
9,Oktawia,Szymański,2.5+1.0,0.0+0.0,1.0+0.5,0.0+1.5,0.5+0.5,NB+NB,0.0+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA
10,Patryk,Woźniak,2.0+1.0,4.0+1.0,2.5+1.0,3.0+2.0,1.0+0.5,1.0+0.5,1.0+0.5,2.0+1.0,4.0+1.0,2.0+0.5,4.0+1.0,4.0+1.0,2.0+0.0,4.0+1.0,NA

In [70]:
oceny["float"] = 1.0
oceny["int"] = 1

In [71]:
oceny.head()

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5),float,int
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NA,1.0,1
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NA,1.0,1
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NA,1.0,1
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA,1.0,1
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA,1.0,1

In [72]:
oceny.dtypes

Imię         object
Nazwisko     object
Z1(4+1)      object
Z2(4+1)      object
Z3(4+1)      object
Z4(4+1)      object
Z5(2+2)      object
Z6(4+1)      object
Z7(4+1)      object
Z8(4+1)      object
Z9(4+1)      object
Z10(4+1)     object
Z11(4+1)     object
Z12(4+1)     object
Z13(5)       object
Z14(4+1)     object
Z15(5)       object
float       float64
int           int64
dtype: object

In [77]:
oceny_obj = oceny.select_dtypes(['object'])

In [78]:
oceny_obj

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5)
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NA
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NA
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NA
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA
5,Bartłomiej,Wójcik,2.0+1.0,2.0+1.0,2.5+0.5,1.5+1.5,0.5+1.0,1.75+0.5,0.0+1.0,1.5+1.0,4.0+1.0,ZW+ZW,0.5+1.0,3.0+0.0,4.0+1.0,3.5+0.0,NA
6,Łukasz,Kamiński,4.0+1.0,2.0+1.0,3.5+1.0,1.5+0.5,1.5+0.5,US+1.0,0.5+1.0,2.0+1.0,3.5+1.0,2.0+0.0,0.5+0.5,3.0+1.0,2.0+1.0,4.0+1.0,NA
7,Oskar,Kowalczyk,4.0+0.5,4.0+1.0,2.0+1.0,4.0+2.0,2.0+1.0,1.5+0.0,1.0+1.0,4.0+1.0,4.0+1.0,1.0+0.5,0.0+NB,3.5+1.0,4.0+1.0,3.0+0.0,NA
8,Joanna,Zielińska,2.5+0.0,US+US,0.5+0.0,1.0+0.0,0.5+1.0,1.0+0.0,0.5+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA
9,Oktawia,Szymański,2.5+1.0,0.0+0.0,1.0+0.5,0.0+1.5,0.5+0.5,NB+NB,0.0+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA
10,Patryk,Woźniak,2.0+1.0,4.0+1.0,2.5+1.0,3.0+2.0,1.0+0.5,1.0+0.5,1.0+0.5,2.0+1.0,4.0+1.0,2.0+0.5,4.0+1.0,4.0+1.0,2.0+0.0,4.0+1.0,NA

In [82]:
oceny[oceny_obj.columns] = oceny_obj.apply(lambda kolumna: kolumna.str.strip())

In [83]:
oceny.Nazwisko.values

array(['Nowak', 'Kowalski', 'Wiśniewski', 'Dąbrowski', 'Lewandowski',
       'Wójcik', 'Kamiński', 'Kowalczyk', 'Zielińska', 'Szymański',
       'Woźniak'], dtype=object)

In [80]:
oceny.drop(["int", "float"], axis=1, inplace=True)

## Eleganckie rozwiązanie (szybsze)

In [84]:
oceny = pd.read_csv("AiSD2.csv", skipinitialspace=True)
oceny.head()

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5)
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NaN
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NaN
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NaN
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NaN
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN

In [85]:
oceny.columns

Index(['Imię', 'Nazwisko', 'Z1(4+1)', 'Z2(4+1)', 'Z3(4+1)', 'Z4(4+1)',
       'Z5(2+2)', 'Z6(4+1)', 'Z7(4+1)', 'Z8(4+1)', 'Z9(4+1)', 'Z10(4+1)',
       'Z11(4+1)', 'Z12(4+1)', 'Z13(5)', 'Z14(4+1)', 'Z15(5)'],
      dtype='object')

In [86]:
oceny.Nazwisko.values

array(['Nowak', 'Kowalski', 'Wiśniewski', 'Dąbrowski', 'Lewandowski',
       'Wójcik', 'Kamiński', 'Kowalczyk', 'Zielińska', 'Szymański',
       'Woźniak'], dtype=object)

# E-maile

Załóżmy, że student nazywa się Łukasz Bączyński. Jego e-mail u nas na wydziale MiNI to
`baczynskil@student.mini.pw.edu.pl`

In [88]:
oceny.Imię[0]

'Anna'

In [89]:
oceny.Imię.str.slice(0, 1)

0     A
1     R
2     P
3     A
4     J
5     B
6     Ł
7     O
8     J
9     O
10    P
Name: Imię, dtype: object

In [90]:
oceny.Imię.str[0] # to polecam

0     A
1     R
2     P
3     A
4     J
5     B
6     Ł
7     O
8     J
9     O
10    P
Name: Imię, dtype: object

In [94]:
oceny.Imię.str[0:3]

0     Ann
1     Raf
2     Pav
3     Ale
4     Jar
5     Bar
6     Łuk
7     Osk
8     Joa
9     Okt
10    Pat
Name: Imię, dtype: object

In [95]:
oceny.Nazwisko.str.lower()

0           nowak
1        kowalski
2      wiśniewski
3       dąbrowski
4     lewandowski
5          wójcik
6        kamiński
7       kowalczyk
8       zielińska
9       szymański
10        woźniak
Name: Nazwisko, dtype: object

# Rozbij kolumny na część labolatoryjną i domową

# Zamieniamy nieobecności/plagiaty

* NA, NB - nieobecność nieusprawiedliwiona, wstawiamy 0
* US, ZW - nieobecność usprawiedliwiona, wstawiamy np.NaN (o co chodzi - o tym za chwilę)
* NS.(1.0) - praca niesamodzielna, wstawiamy 0

# Wstawiamy punkty za zwolnienia lekarskie

* Zamieniamy kolumny na floaty
* Dla każdego znalezionego NaN: policz średnią z wiersza (siła studenta), średnią z kolumny (trudność zadania), oblicz średnią z tych dwóch średnich i wstaw (zrobić pętlą, ja potem pokażę w Numpy)

### Wstawienie punktów za usprawiedliwione nieobecności (wersja z pętlami)

In [71]:
# pętla po wierszach:
#    pętla po kolumnach (odpowiednich):
#        czy napotkałem nan?
#            liczę średnie, średnią z średnich, wstawiam

### Wstawienie punktów za usprawiedliwione nieobecności (wersja zwektoryzowana)

In [75]:
# policzyć średnie dla każdej kolumny i każdego wiersza (w sposób zwektoryzowany)
# znaleźć indeksy, na których są nany (zwektoryzowany)
# podstawić pod te indeksy średnie z średnich (indeksowanie listą liczb całkowitych)

# Wystawiamy oceny (nareszcie!)

* Obliczyć teoretyczną maksymalną sumę punktów, jaką można było uzyskać (przejść po nazwach kolumn, odzyskać maks. punkty, zsumować)
* Zsumować punkty studentów (nowa kolumna - Suma)
* Obliczyć procent uzyskanych punktów. Przelicznik jest następujący:

* [0, 50%) -> 2.0
* [50%, 60%) -> 3.0
* [60%, 70%) -> 3.5
* [70%, 80%) -> 4.0
* [80%, 90%) -> 4.5
* [90%, 100%] -> 5.0

Pomocna metoda: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html